snippet cl "console.log()" b
console.log($1)
endsnippet
snippet it "it(...)" b
it('$1', () => {
})
endsnippet
snippet ita "it(...) async" b
it('$1', async () => {
})
endsnippet
snippet desc "describe(...)" b
describe('$1', () => {
})
endsnippet
